footer {
  background-color: rgb(18, 24, 62);
  height: auto;
  margin-top: 50px;
}
.footer-title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  border-bottom: 2px solid #ffff;
  color: orangered;
}
.footer-content {
  padding: 10px;
}
.footer-content h3 {
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}
.social-icon {
  float: left;
  align-items: center;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: green;
  color: #ffff;
  border-radius: 8px;
  font-size: 25px;
}
.social-icon a{
    text-decoration: none;
    color: #ffff;
    transition: background-color 0.3s, color 0.3s;  /* Smooth transition on hover */
}
.social-icon:hover{
    background-color: orangered;
}
.social-icon i:hover{
    transform: scale(1.08);
}
.social-icon-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.footer-dev {
  border-top: 1px solid #ffff;
  display: flex;
  justify-content: center;
  padding: 10px 0 15px 0;
}
.footer-dev p {
  color: #ffff;
  align-items: center;
  text-align: center;
  padding: 10px 10px 0 10px;
}

@media (max-width: 768px) {
  /* footer {
    height: 36vh;
  } */
  .footer-title {
    font-size: 25px;
  }

  .footer-content h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    margin-top: 10px;
  }
}