.section-title{
    font-size: 2.5rem;
    color: rgb(18, 36, 140);
    text-align: center;
    margin-bottom: 50px;
    transform: translateY(30px)
}
.section-title::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: green;
    margin: 0 auto;
    border-radius: 100px;
}
.section-title::before{
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: orangered;
    margin: 0 auto;
    border-radius: 100px;
}
.section-title::selection{
    background-color: #ffffff;
}
.landmark-section{
    padding: 100px 5%;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
}

.landmark-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    position: relative;
    z-index: 1;
}

.landmark-card{
    width: calc(25% - 20px);
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.landmark-card:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.landmark-image{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.landmark-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.landmark-card:hover .landmark-image img {
    transform: scale(1.1);
}

.landmark-content{
    padding: 20px;
}

.landmark-content h3{
    font-size: 1.4rem;
    color: green;
}

.landmark-content p {
    font-size: 1rem;
    color: #302f2f;
    line-height: 1.5;
    margin-bottom: 15px;
}

.learn-more {
    display: inline-block;
    color: green;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.learn-more:hover {
    color: orangered;
}

.learn-more i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.learn-more:hover i {
    transform: translateX(5px);
}